data/backups
data/cache
data/config
data/downloads
data/libraries
data/logs
data/versions
data/oneblock_*
data/world
data/world_*
data/plugins/AdvancedTeleport/.libs/*
data/plugins/AuctionHouse/logs/*
data/plugins/Essentials/userdata/*
data/plugins/KGenerators/logs/*